* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  color: #000;
}

#main {
  position: relative;
  overflow: hidden;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 7vh;
  width: 100vw;
  position: fixed;
  z-index: 99;
}

#nav > h3 { font-weight: 400; font-size: 22px; }

#nav > button {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

#page {
  position: relative;
  height: 100vh;
  width: 100vw;
}

canvas {
  position: relative;
  z-index: 9;
  max-width: 100vw;
  max-height: 100vh;
}

#loop {
  display: flex;
  position: absolute;
  top: 30%;
  height: 25%;
  width: 100%;
  white-space: nowrap;
}

#loop > h1 {
  font-weight: 400;
  font-size: 100px;
  animation: anim 15s linear infinite;
}

#loop > h1 > span {
  -webkit-text-stroke: 1.2px #000;
  color: transparent;
  font-weight: 500;
}

@keyframes anim {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

#page > h3 {
  position: absolute;
  top: 55%;
  font-weight: 400;
  color: #7c7c7c;
  left: 5%;
  z-index: 10;
}

#page > h4 {
  position: absolute;
  top: 62%;
  left: 25%;
  font-weight: 500;
  z-index: 10;
}

#page1, #page2, #page3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-text { position: absolute; top: 30%; left: 10%; }
#left-text { position: absolute; top: 50%; right: 10%; text-align: right; }

#text1, #text3 { width: 40%; }
#text2 { width: 30%; color: #7c7c7c; }